
/* Paleta de cores */
:root {
    --azul-claro: #A2D5F2;
    --verde: #81C784;
    --laranja: #FFB74D;
    --branco: #FFFFFF;
    --cinza-claro: #E0E0E0;
}

/* Estilos gerais */
body {
    background-color: var(--cinza-claro);
    font-family: Arial, sans-serif;
    color: #333;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0;
}

@media (max-width: 768px) {
    body {
        background-position: bottom; 
    }
}
@media (min-width: 1024px) {
    body {
        background-position: center; 
    }
}


.container {
    background-color: var(--azul-claro);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--verde);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-control {
    border: 2px solid var(--cinza-claro);
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    border-color: var(--verde);
    box-shadow: 0 0 8px var(--verde);
}


.btn-success {
    background-color: var(--laranja);
    border-color: var(--laranja);
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--verde);
    border-style: none;
    transform: scale(1.05);
}

.btn-secondary {
    background-color: var(--azul-claro);
    border-color: var(--azul-claro);
    transition: transform 0.3s ease-in-out;
}



form {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

form:hover {
    transform: rotateY(10deg);
}

#cli_form{
    background-color: var(--branco);
    float: left;
    width: 90.0vw;
    max-width: 700px;
    height: fit-content;
    opacity: 40%;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M226.5 92.9c14.3 42.9-.3 86.2-32.6 96.8s-70.1-15.6-84.4-58.5s.3-86.2 32.6-96.8s70.1 15.6 84.4 58.5zM100.4 198.6c18.9 32.4 14.3 70.1-10.2 84.1s-59.7-.9-78.5-33.3S-2.7 179.3 21.8 165.3s59.7 .9 78.5 33.3zM69.2 401.2C121.6 259.9 214.7 224 256 224s134.4 35.9 186.8 177.2c3.6 9.7 5.2 20.1 5.2 30.5v1.6c0 25.8-20.9 46.7-46.7 46.7c-11.5 0-22.9-1.4-34-4.2l-88-22c-15.3-3.8-31.3-3.8-46.6 0l-88 22c-11.1 2.8-22.5 4.2-34 4.2C84.9 480 64 459.1 64 433.3v-1.6c0-10.4 1.6-20.8 5.2-30.5zM421.8 282.7c-24.5-14-29.1-51.7-10.2-84.1s54-47.3 78.5-33.3s29.1 51.7 10.2 84.1s-54 47.3-78.5 33.3zM310.1 189.7c-32.3-10.6-46.9-53.9-32.6-96.8s52.1-69.1 84.4-58.5s46.9 53.9 32.6 96.8s-52.1 69.1-84.4 58.5z"/></svg>'), auto; 
    label, input, button, a{
        font-size: 6.5vw;
        max-width: 600px;
        cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M226.5 92.9c14.3 42.9-.3 86.2-32.6 96.8s-70.1-15.6-84.4-58.5s.3-86.2 32.6-96.8s70.1 15.6 84.4 58.5zM100.4 198.6c18.9 32.4 14.3 70.1-10.2 84.1s-59.7-.9-78.5-33.3S-2.7 179.3 21.8 165.3s59.7 .9 78.5 33.3zM69.2 401.2C121.6 259.9 214.7 224 256 224s134.4 35.9 186.8 177.2c3.6 9.7 5.2 20.1 5.2 30.5v1.6c0 25.8-20.9 46.7-46.7 46.7c-11.5 0-22.9-1.4-34-4.2l-88-22c-15.3-3.8-31.3-3.8-46.6 0l-88 22c-11.1 2.8-22.5 4.2-34 4.2C84.9 480 64 459.1 64 433.3v-1.6c0-10.4 1.6-20.8 5.2-30.5zM421.8 282.7c-24.5-14-29.1-51.7-10.2-84.1s54-47.3 78.5-33.3s29.1 51.7 10.2 84.1s-54 47.3-78.5 33.3zM310.1 189.7c-32.3-10.6-46.9-53.9-32.6-96.8s52.1-69.1 84.4-58.5s46.9 53.9 32.6 96.8s-52.1 69.1-84.4 58.5z"/></svg>'), auto;
        
    }
    @media (min-width: 600px) {
        label, input, button, a {
            font-size: 2.5em; /* Limita o tamanho da fonte em telas maiores */
        }
        h1 {
            font-size: 4em;
        }
    }
    @media (min-width: 1024px) {
        label, input, button, a {
            font-size: 18px; /* Travar o tamanho da fonte em 20px para telas maiores que 1024px */
        }
        h1 {
            font-size: 40px;
        }
    }
    
    
}


/* Animações */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    animation: slideIn 1s ease-out;
}

form {
    animation: fadeIn 2s ease-in-out;
}

button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--laranja);
    transform: rotate(5deg);
}

#cli_form:hover{
    opacity: 100%;
}


